@inherits LayoutComponentBase

@* Register matomo provider application-wide, for all pages that use MainLayout *@
<MatomoProvider ApiUrl="@_matomoOptions.ApiUrl"
                SiteId="@_matomoOptions.SiteId"
                UserIdFunc="async () => await Task.FromResult(Guid.NewGuid().ToString())" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    [Inject]
    private MatomoOptions _matomoOptions { get; set; } = default!;

}
